body{
    background-image: url("img/deck.png"), url("img/backgr.jpg");
    background-position: center top;
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-color: #3D7511;

    font-family: sans-serif;
    font-size: 1em;
}
/* to sharpen the edges of the images */
img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
#instruction{
    position: absolute;
    font-size: 0.7em;
    top:414px;
    left: 50%;
    margin-left:107px;
    height: 30px;
    width: 80px;
    line-height:0.9em ;
    border-radius:5px;
    text-align: left;
    font-weight: bold;
    color:black;
}
#inputField{
    position:absolute;
    top:425px;
    left: 50%;
    margin-left:205px;
    height: 30px;
    width: 80px;
    border:none;
    background-color:#F6B02B;
    border-radius:5px;
}
#inputField:hover{
    border-radius:5px;
}
#send{
    position: absolute;
    left: 50%;
    top:30px;
    margin-left: -317px;
    border-radius: 50%;
    width:58px;
    height:58px;
    background-color:#5EDEF9;
    border:none;
    font-weight: bold;
    letter-spacing:1px;
    box-shadow: 1px 1px;
}
#send:hover{
    background-color:#33756A;
    color:white;
    font-weight: bold;
    letter-spacing:1px;
    box-shadow: -1px -1px;
}
H1{
    position: absolute;
    font-size: 1.7em;
    left:50%;
    top:81px;
    margin-left: -179px;
    color: white;
    text-align:right;
    width: 140px;
}
#id{
    position: absolute;
    left: 50%;
    top:406px;
    margin-left:-195px;
    font-weight: bold;
}

li{
    list-style-type:none;
    margin-top:-5px;
    margin-left:-40px;
    margin-bottom: 27px;
    margin-right: 40px;
    float:left;
    position:relative;
    font-weight: bold;
    text-align: center;
    width:130px;
}
div#moves {
    width:400px;
    height:78px;
    position: absolute;
    left:50%;
    margin-left:60px;
    top:256px;
    padding: 0;
}
#bigPokemon{
    position: absolute;
    left:50%;
    top: 109px;
    margin-left:-290px;
}
#noData_error{
    position: absolute;
    left:50%;
    top:109px;
    margin-left:290px;
    width:400px;
    height:78px;
    border:red 2px solid;
    background-color: #F6B02B;
    color:red;
    font-weight: bold;
    font-size: 1em;
}